
.letrilizar {
    border: 3px dashed #e73e2c;
}


.letrilizar,
.letrilizar-text-wrapper--closest,
.letrilizar-preview,
.letrilizar-share-button {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.letrilizar-text-wrapper--closest, 
.letrilizar-text-wrapper--closest::selection  { 
    color: #000;
}

.letrilizar::selection, 
.letrilizar-text-wrapper--closest {
    background: #ed6653;
}

.letrilizar-markupholder {
    display: none;
}

.letrilizar-action-ballon { 
    position: absolute;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 13px;
    font-size: 11px;
    font-family: 'ProximaNova', 'Montserrat', sans-serif;
}

.letrilizar-preview {
    display: block;
    width: 0;
    height: 0;
}


.letrilizar--active .letrilizar-preview {
    width: 480px;
    height: 310px;
}

.letrilizar--active .letrilizar-share-button {
    float: right;
}

