@-webkit-keyframes keyframes-letrilizar-bounce-in-up {
  0% {
    opacity: 0;
    margin-top: 20px;
  }

  30% {
    opacity: 0.5;
    margin-top: -10px;
  }

  60% {
    opacity: 1;
    margin-top: 2px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes keyframes-letrilizar-bounce-in-up {
  0% {
    opacity: 0;
    margin-top: 20px;
  }

  30% {
    opacity: 0.5;
    margin-top: -10px;
  }

  60% {
    opacity: 1;
    margin-top: 2px;
  }

  100% {
    margin-top: 0;
  }
}

.letrilizar,
.letrilizar-text-wrapper--closest,
.letrilizar-preview,
.letrilizar-share-button,
.letrilizar-preview canvas {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.letrilizar-letrilization-area::selection {
  background: #ed6653;
}

.letrilizar-markupholder {
  display: none;
}

.letrilizar-action-ballon {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 10px;
  font-family: ProximaNova, Montserrat, sans-serif;
  z-index: 9500;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.letrilizar-action-ballon::selection,
.letrilizar-action-ballon *::selection {
  background: #333;
}

.letrilizar-action-ballon--showing {
  -webkit-animation: keyframes-letrilizar-bounce-in-up 0.5s ease-in;
  animation: keyframes-letrilizar-bounce-in-up 0.5s ease-in;
}

.letrilizar-action-ballon::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  bottom: -5px;
  background-color: #333;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.letrilizar-download-button,
.letrilizar-change-button {
  display: none;
}

.letrilizar-share-button,
.letrilizar-download-button,
.letrilizar-change-button {
  background-position: center left;
  cursor: pointer;
  background-repeat: no-repeat;
  padding-left: 18px;
}

.letrilizar-preview {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.letrilizar-preview canvas {
  display: none;
  opacity: 0;
}

.letrilizar-share-button:hover,
.letrilizar-download-button:hover,
.letrilizar-change-button:hover,
.letrilizar-close-button:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

.letrilizar-status {
  display: none;
  opacity: 0;
}

.letrilizar--active {
  margin-top: -330px;
  margin-left: -40px;
  transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  padding: 10px 13px;
}

.letrilizar--active.letrilizar-action-ballon::after {
  left: 50px;
}

.letrilizar--active .letrilizar-preview {
  width: 480px;
  height: 310px;
  margin-bottom: 10px;
}

.letrilizar--active .letrilizar-download-button,
.letrilizar--active .letrilizar-change-button {
  color: #ccc;
  display: inline-block;
  margin-right: 15px;
}

.letrilizar--active .letrilizar-share-button {
  float: right;
}

.letrilizar--active .letrilizar-close-button {
  cursor: pointer;
  display: block;
  position: absolute;
  right: -6px;
  top: -6px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
}

.letrilizar--active canvas {
  display: block;
  opacity: 1;
}

.letrilizar--sharing .letrilizar-buttons {
  display: none;
}

.letrilizar--sharing .letrilizar-status {
  display: block;
  opacity: 1;
}
